- entry.chord_body.sections.each do |section|
  - section = SectionDecorator.new(section)
  .chord-progression__section
    .chord-progression__section-title
      %strong= section.title
    %ul.list-inline
      - section.measures.each do |measure|
        %li.chord-progression__measure
          - measure.each do |chord|
            = render 'chord', chord: chord
