<p>
  <strong>Body:</strong>
  <% @entry.chord_body.sections.each do |section| %>
    <div>
      <p><%= section.title %></p>
      <div>
        <% section.measures.each do |measure|%>
          <span>
            <% measure.each do |chord| %>
              <span><%= chord.name %></span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</p>
