- entry.chord_body.sections.each do |section|
  - section = SectionDecorator.new(section)
  %div
    %p
      %strong= section.title
    %ul.list-inline
      - section.measures.each do |measure|
        %li.chord_body-measure
          - measure.each do |chord|
            %span.chord_body-chord= chord.name
  - if type == :full
    = section.player
