- @entry.chord_body.sections.each do |section|
  - section = SectionDecorator.new(section)
  %div
    %p= section.title
    %div
      - section.measures.each do |measure|
        %span
          - measure.each do |chord|
            %span= chord.name
  = section.player
