// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.entry {
  background-color: white;
  margin: 10px 10px;

  .card-header, .card-footer {
    background-color: white;
    border: none;
  }

  .entry__title {
    font-size: 1.5rem;
    margin-bottom: 4px;
  }

  .entry__author-name {
    font-size: 0.8rem;
    color: #333;
  }

  .entry__date {
    font-size: 0.8rem;
    color: #333;
  }
}

#entry_body {
  resize: none;
}

.entry__preview {
  margin-bottom: 16px;
  height: 274px;

  .chord-progression {
    zoom: 50%;
    height: 100%;
    background-color: white;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 12px;
  }
}
