// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.entry {
  background-color: white;
  margin: 10px 10px;

  .card-header, .card-footer {
    border: none;
  }
}

.entry-preview__author-name {
  font-size: 10px;
}
