// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry-preview {
  background-color: white;
  border-radius: 0px;
  border: none;
  margin: 10px 10px;
}

.entry-preview__author-name {
  font-size: 10px;
}

.chord-body__measure {
  display: inline-block;
  border-left: 2px solid #CCC;
  &:first-child{ border-left: none; }
}

.chord-body__chord {
  padding: 0 4px;
}
